<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <title>Lunar Calendar Email Reminder</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Lunar Calendar Email Reminder</h1>
        <div><p>This application is a simple set and forget email reminder
            tool that will send an email out to remind you of an event in the
            lunar calendar. It is useful for getting reminders for Asian parents
            or grandparents that celebrate their birthday in the lunar calendar
            or to remind you of any other lunar calendar events. You can also
            use this to find out your lunar birthday by entering in your western
            birthday with the year.</p>
            <p>I could not find this functionality in google calendar so I wrote
            this application very quickly to fill in this gap. This application
            will work until 2050 and then it will stop working because of a
            limitation in the lunar conversion library I am using. Hopefully I
            will update it before then!</p>
            <h2>Usage</h2>
            <p>To use this app, click the log in button and fill out the form to
            indicate what date you would like to receive a reminder for. You can
            enter a Western calendar date (be sure to specify correct year) and
            it will track the Asian/lunar calendar date or you can just enter the
            Asian/lunar calendar date directly. Once you click submit, you will
            see your reminder show up in the table above the form and you can
            see when the next reminder will be sent. On the appropriate date,
            you will receive an email with the reminder that you have set.
            When you no longer want to receive the reminder, simply click delete
            and the reminder will no longer be sent every year.
            </p>
            <h3>A Note On Lunar Leap Month</h3><p> I'm no expert at this, but I
            found this:
            </p>
            <blockquote>
                <p><b>Born on Leap Month</b></p>

                <p>Based on the usual chinese fortune-telling practice, people
                who born on the first 15th days of a leap month should be
                counted as born on the previous month, and people who born on or
                after the 16th date of a leap month should be counted as born on
                the month followed.</p>

                <p>So, if you were born on 1st June, 1982, your birth month
                should be counted as the 4th lunar month of 1982. On the other
                hand, if you were born on 15th June, 1982, your birth month
                should be on the 5th lunar month of 1982.</p>


                <p><b>Conceive on Leap Month </b></p>

                <p>By the same token, if you conceive on the first 15 days of a
                leap month, then the month of conception should be counted as
                the previous month, and the rest of the leap month should be
                counted as the next month. Having said that, there are some
                chinese fortune tellers argue that the entire leap month should
                be counted as the previous month. The conclusion is that If you
                are serious about gender selection, don't choose to conceive on
                leap months.</p>
</blockquote>

<p>If you are interested in running your own Lunar Calendar Email Reminder
server, feel free to download the code at <a
    href="https://github.com/jonmchan/LunarCalendarEmailReminder">github</a> and
place one up on <a
    href="https://developers.google.com/appengine/">AppEngine</a> for yourself. It's pretty
simple if you are a developer.</p>
</div>

{% if jobs != '' %}
<hr>
<table border="1">
    <tr>
        <th>Reminder</th>
        <th>Lunar Date (yy/mm/dd)</th>
        <th>Western Date (mm/dd/yy)</th>
        <th>Next Scheduled Reminder (mm/dd/yy)</th>
        <th>Options</th>
    </tr>
{% for job in jobs %}
    <tr>
        <td>{{ job.note }}</td>
        <td>{{ job.getFormattedLunarDate() }}</td>
        <td>{{ job.date.strftime('%m/%d/%Y') }}</td>
        <td>{{ job.getNextRun() }}</td>
        <td><a href="/delete?id={{ job.key.urlsafe() }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

<hr>
{% if error == 'success_deleted' %}
<div style="color: green;font-weight:bold">
    Successfully Deleted Reminder
</div>
{% elif error == 'invalid_date' %}
<div style="color: red;font-weight:bold">
    Invalid Date Entry - Could Not Add Job!
</div>
{% elif error == 'exceed_user_quota' %}
<div style="color: red;font-weight:bold">
    Your reminder has not been saved. You have exceeded the number of reminders allotted to each user on the server.
    Please delete some reminders if you want to add any more.
</div>
{% elif error == 'exceed_daily_quota' %}
<div style="color: red;font-weight:bold">
    Your reminder has not been saved. There have been too many reminders added
    for this day. I apologize, but we cannot add any more because of our very low email quota.
</div>
{% endif %}
    <form action="/addJob" method="post">
      <div><label for="content">Reminder: </label><input name="content"
      type="text" /></div>
      <div>
      <label for="year">Year: </label>
      <select name="year">
      {% for year in range(1900,2050) %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
      </select>
      
      <label for="month">Month: </label>
      <select name="month">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13 (lunar leap month)</option>
      </select>

      <label for="day">Day: </label>
      <select name="day">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      </select>
      </div>
      <div><label for="date_type">Date Input Type: </label><select
              name="date_type">
              <option value="solar">Western</option>
              <option value="lunar">Asian/Lunar</option>
          </select>
      <div><input type="submit" value="Add Email Reminder"></div>
  </form>
  {% else %}
  <hr>
<h2>
Please log in to use the Lunar Calendar Email Reminder.
</h2>
<p><b>NOTE:</b> If you get a HTTP 500 "Error: Server Error" when logging in and you are using
multiple google account login, please try logging out of all your accounts or
try using a Google Chrome incognito window to log in with only one account.
There is a bug with Google AppEngine and multiple user accounts. Sorry!</p>
  {% endif %}
    <hr>
     <a href="{{ logout_url }}">{{ logout_url_linktext }}</a>

    </body>
</html>
{% endautoescape %}
